<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637371460162-m59qp1l79rd53gnbhfsubc6o5i5alesr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637371460162-m59qp1l79rd53gnbhfsubc6o5i5alesr</string>
	<key>API_KEY</key>
	<string>AIzaSyCNjxG6VpoDjp0nEeL1uZYh5tGCyg3MHlY</string>
	<key>GCM_SENDER_ID</key>
	<string>637371460162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionApp</string>
	<key>PROJECT_ID</key>
	<string>fashion-app-e5728</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-app-e5728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637371460162:ios:4207ea8641cd3397825bdb</string>
</dict>
</plist>